/* PROJECT CARDS */

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.card {
  $base-border-radius: 10px !default;
  $base-spacing: 1.5em !default;
  $card-border-color: $medium-gray !default;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten(gainsboro, 10%);
  $card-header-background: $card-background;

  margin-bottom: 20px;
  background-color: $card-background;
  border-radius: $base-border-radius;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  min-height: 20rem;
  min-width: 30rem;

    .card-image {
      display: flex;
      background-color: $blue-green;
      max-height: 230px;
      overflow: hidden;

      img {
        @include border-top-radius($base-border-radius);
        opacity: 1;
        transition: all 0.2s ease-in-out;
        width: 100%;
        min-height: 250px;
        object-fit: cover;
      }
    }

  .card-header {
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    color: $medium-gray;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    transition: all 0.2s ease-in-out;
  }

  .card-copy {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;
    line-height: 1.5em;
    text-align: center;
    padding: ($base-spacing / 2) ($base-spacing / 2);
    i { color: $medium-gray; }
    p {
      flex-basis: 100%;
      color: $medium-gray;
      margin: 0 0 ($base-spacing / 2);
    }
    div { flex-basis: 100%; }
  }

  &:focus,
  &:hover {
    img {
      opacity: 0.7;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }

  // Icon Attributions

  .override-bg {
    background-color: black;
  }

  #override-card-image {
    min-height: 0;
    margin: auto;
    height: 200px;
    width: 200px;
  }
}

/* The Modal */

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999999;
}

.modal img {
  margin: 0 auto;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  transition: 0.3s;
  cursor: default;
  background-color: rgb(256, 256, 256,);
}

/* Modal Content */
.modal-content {
  position: relative;
  top: 5%;
  margin: auto;
  padding: 0;
  width: 90%;
  height: 90%;
  text-align: center;

  &::before {
    content: '';
    width: 0;
    height: 5%;
    display: inline-block;
    vertical-align: middle;
  }
}

// Media Queries

@media screen and (max-width: 1080px) {
  .card { min-width: 28rem; }
}

@media screen and (max-width: 500px) {
  .card { min-width: 25rem; }
}