---
layout: default
---
<article class="page-article">
  <div class="wrap-content">
    <header class="page-header">
      <h1 class="page-title">{{page.title}}</h1>
    </header>
    <div class="page-content-about">
      {% if page.img %}
      <section class="striped-bg-box">
        <img class="about-photo" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
        <div class="stripe1 deep-red"></div>
        <div class="stripe2 medium-orange"></div>
        <div class="stripe1 light-gold"></div>
        <div class="stripe2 light-blue"></div>
        <div class="stripe1 light-green"></div>
        <div class="stripe2 blue-green"></div>
        <div class="stripe1 deep-blue"></div>
      </section>
      {% endif %}
      <article class="about-text">{{page.content | markdownify}}</article>
    </div>
    {% include disqus.html %}
  </div>
</article>
